* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #f7971e;
  font-family: "Caveat", sans-serif;
}
header h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 10rem;
  padding: 15px;
}

nav {
  background-color: #f1ce0b;
  width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}
nav ul li {
  margin: 5px;
  font-size: 25px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}
nav ul li a:hover {
  color: white;
}

main a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer {
  background-color: #f7971e;
  font-family: "Caveat", sans-serif;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  font-size: 25px;
  color: black;
  font-weight: 900;
}
footer ul li a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.irarriba {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

footer h3 {
  color: red;
  font-size: 30px;
  font-weight: 900;
}

.padre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Caveat", sans-serif;
}

main {
  margin: 20px 30px;
}

p {
  color: blue;
  font-size: 25px;
}

h2 {
  color: red;
  font-size: 30px;
  font-weight: 900;
  margin: 10px;
}

ol {
  list-style-type: none;
}
ol li {
  font-size: 25px;
  color: blue;
}

img {
  max-width: 100%;
}

.baner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baner {
  color: blue;
  font-size: 20px;
}

.cadenadejugueteria {
  margin: 25px;
}

.container-items-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.boton {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.item:hover img {
  transform: scale(1.2);
}

.item figure {
  overflow: hidden;
}

button {
  border: none;
  background: none;
  background-color: #f7971e;
  color: black;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 30px;
  font-family: "Caveat", sans-serif;
  font-weight: bold;
}
button:hover {
  color: white;
}

@media (max-width: 768px) {
  .container-items-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  header h1 {
    font-size: 7rem;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    font-size: 20px;
  }
  .item img {
    width: 100%;
    height: 200px;
  }
  button {
    padding: 0px 10px;
  }
  .padre {
    flex-direction: column;
  }
  .texto h2 {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .container-items-cards {
    grid-template-columns: repeat(2, 2fr);
  }
  header h1 {
    font-size: 6rem;
  }
  nav ul {
    flex-direction: column;
  }
  .item img {
    width: 100%;
    height: 200px;
  }
  button {
    padding: 0px 0px;
  }
  .padre {
    flex-direction: column;
  }
  .texto h2 {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .container-items-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  header h1 {
    font-size: 4rem;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    font-size: 20px;
  }
  .item img {
    width: 100%;
    height: 200px;
  }
  button {
    padding: 0px 10px;
  }
  .padre {
    flex-direction: column;
  }
  .texto h2 {
    font-size: 25px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.container-items-bebe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.itemjuegos img {
  width: 100%;
  height: 200px;
  object-fit: none;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .container-items-bebe {
    grid-template-columns: repeat(2, 2fr);
  }
  .boton h3 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .container-items-bebe {
    grid-template-columns: repeat(1, 1fr);
  }
  .boton h3 {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.container-items-juguetes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.itemjuegos img {
  width: 100%;
  height: 200px;
  object-fit: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container-items-juguetes {
    grid-template-columns: repeat(3, 3fr);
  }
  .boton h3 {
    font-size: 0px;
  }
}
@media (max-width: 480px) {
  .container-items-juguetes {
    grid-template-columns: repeat(2, 2fr);
  }
  .boton h3 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .container-items-juguetes {
    grid-template-columns: repeat(1, 1fr);
  }
  .boton h3 {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.mapa {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.baner h3 {
  font-size: 30px;
}

@media (max-width: 480px) {
  .baner h3 {
    font-size: 25px;
  }
  .baner p {
    font-size: 20px;
  }
  .mapa {
    margin: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
}

main h3 {
  font-size: 25px;
  color: blue;
}

.formulario {
  display: flex;
  justify-content: center;
}

form {
  background-color: #ee8700;
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 420px;
  text-align: center;
}

form h3 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}

form h4 {
  font-size: 35px;
  color: black;
  font-weight: 900;
  padding: 20px;
  display: flex;
  text-align: left;
}

input {
  padding: 17px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(187, 255, 0);
  margin-bottom: 30px;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

::placeholder {
  color: black;
  font-size: 20px;
}

.btn {
  background-color: #f1ce0b;
  font-size: 30px;
  color: black;
  font-weight: 900;
}

.btn:hover {
  background-color: #ffd95b;
}

@media (max-width: 480px) {
  form h4 {
    font-size: 30px;
  }
  ::placeholder {
    color: black;
    font-size: 15px;
  }
  .btn {
    background-color: #f1ce0b;
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  form h4 {
    font-size: 25px;
  }
  ::placeholder {
    color: black;
    font-size: 15px;
  }
  .btn {
    background-color: #f1ce0b;
    font-size: 20px;
  }
  form {
    padding: 15px;
    width: 300px;
  }
  input {
    padding: 17px;
  }
}

/*# sourceMappingURL=styles.css.map */
