// Variables
*{
    margin: 0;
    padding: 0;
}
$colorTitulo:rgb(255, 255, 255);
$colorSubtitulo:blueviolet;
$colorTextos:rgb(0, 26, 255);
$backgroundHeader:#f7971e;
$backgroundFooter:#f7971e;
 //listas
$color: 
blue
red
yellow
cyan
black
white;


