// Todo lo que se repite en los archivos
html{
    font-size: 62.5%;
}
header{
      background-color: $backgroundHeader;
      font-family: "Caveat", sans-serif;
      h1{
        color: $colorTitulo;
        font-weight: 500;
        font-size: 10rem;
        padding: 15px;
      }
}

nav{
   background-color: #f1ce0b;
   width: 100%;
   ul{
     display: flex;
     list-style-type: none;
     flex-direction:row;
     align-items: stretch;
     justify-content: space-around;
     li{
       margin: 5px;
       font-size: 25px;
       a{
        color:nth($color, 5);
        text-decoration: none;
        font-weight: 900;
        &:hover{
            color:nth($color, 6);
        }
       }
     }
   }
}

main{
    a{
        text-decoration: none;
        color:nth($color, 5); 
        font-weight:bold;
    } 
}

footer{
      background-color: $backgroundFooter;
      font-family: "Caveat", sans-serif;
      ul{
        list-style-type: none;
        li{
          font-size: 25px;
          color:nth($color, 5); 
          font-weight: 900;
          a{
           color:nth($color, 5); 
           text-decoration: none;
           font-weight: 900;
          }
        }
      }
} 


.irarriba{
    font-size: 20px; 
    display: flex;
    flex-direction: column;
}

footer{
      h3{
      color:nth($color, 2); 
      font-size: 30px;
      font-weight: 900; 
      }
}

.padre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}