// Todo lo que se repite en los archivos
html{
    font-size: 62.5%;
}
header{
    background-color: $backgroundHeader;
    font-family: "Caveat", sans-serif;
    h1{
    color: $colorTitulo;
    font-weight: 500;
    font-size: 10rem;
    padding: 15px;
    }
}
nav{
    background-color: #f1ce0b;
    width: 100%;
    ul{
        display: flex;
        list-style-type: none;
        flex-direction:row;
        align-items: stretch;
        justify-content: space-around;
        li{
            margin: 5px;
            font-size: 25px;
            a{
                color:black;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}
footer{
    background-color: $backgroundFooter;
    font-family: "Caveat", sans-serif;
    
}