@import "base";
body{
    font-family: "Caveat", sans-serif;
}

main{
    margin: 20px 30px;
}

p{
    color:nth($color, 1);
    font-size: 25px;
}

h2{
    color:nth($color, 2);
    font-size: 30px; 
    font-weight: 900;
    margin: 10px;
}

ol{
    list-style-type: none;  
    li{
        font-size: 25px; 
        color:nth($color, 1);
    }  
}

img{
    max-width: 100%; 
}
 %flexrowaligncenter{
    display: flex;
    flex-direction: column; 
    align-items: center;
 }

.baner{
    color:nth($color, 1); 
    font-size: 20px;  
    @extend %flexrowaligncenter
}
.cadenadejugueteria{
    margin: 25px;
}

.container-items-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.boton{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
// Cambiar en juegos y jugues, bebes
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.item:hover img{
    transform: scale(1.2);
}
//
.item figure{
    overflow: hidden;
}
button{
    border: none;
    background: none;
    background-color: #f7971e;
    color:nth($color, 5); 
    padding: 15px 10px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Caveat", sans-serif;
    font-weight: bold;
    &:hover{
        color:nth($color, 6);
        }
}
@media (min-width: 768px){
}