@import "base";

.container-items-juguetes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.itemjuegos img{
    width: 100%;
    height: 200px;
    object-fit:none;
    border-radius: 10px;
}
